@import "../utils/variables";
@import "../utils/mixins.scss";
@import "../components/carousel.scss";
.nav{
    h1{
        @include text-style (40px, 500, 54px, none, #fff, Cera Round Pro)
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color:black;
    background-color:white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 10px 30px;
}

.nav-pills .nav-link {
    color: #fff;
    border-radius: 100px;
    border: 1px solid white;
    padding:  10px 30px;
}